.g-recaptcha{
    margin: 0px auto;
    display: inline-block;
    left: 15%;
    position: relative;
}

/* page loader */
#loading5  
{
	display:block;
	position:absolute;
	margin:30px 0 0 100px;
	width:80px;
	height:80px;
}
#loading5 #outerCircle
{
	display:block;
	position:absolute;
	margin:0 auto;

	width:80px;
	height:80px;
	border-top:7px solid #06F;
	border-bottom:7px solid #06F;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	
	border-radius:80px;
	-moz-border-radius:80px;
	-webkit-border-radius:80px;
	-ms-border-radius:80px;
	-o-border-radius:80px;
	
	box-shadow:0 0 20px #06F;
	-mozbox-shadow:0 0 20px #06F;
	-ms-box-shadow:0 0 20px #06F;
	-o-box-shadow:0 0 20px #06F;
	-webkit-box-shadow:0 0 20px #06F;
	
	-webkit-animation: cwSpin 1s linear .2s infinite;
	-moz-animation: cwSpin .666s linear .2s infinite;
	-o-animation: cwSpin .666s linear .2s infinite;
	-ms-animation: cwSpin .666s linear .2s infinite;
	animation: cwSpin .666s linear .2s infinite;
}

#loading5 #outerCircle
{
	box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
	
	border-top:7px solid transparent;
	border-bottom:7px solid #06F;
	border-left:7px solid #06F;
	border-right:7px solid transparent;
	
	-webkit-animation: cwSpin 1s linear .2s infinite;
	-moz-animation: cwSpin .666s linear .2s infinite;
	-o-animation: cwSpin .666s linear .2s infinite;
	-ms-animation: cwSpin .666s linear .2s infinite;
	animation: cwSpin .666s linear .2s infinite;
}


@-webkit-keyframes cwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}
@keyframes cwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}

.ap4l-subscription-modal-lg {
    z-index: 100000;
}
.modal-error{
    background: #f2dede;
    padding: 20px;
}
.modal-success{
    background: #96f8a6;
    padding: 20px;
}
.modal-error p, .modal-success p {
    color: #333 !important;
    text-align: center;
    font-size: 23px;
}